doctype html
html
head 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="./stylesheets/stylesindex.css")
body
  .container
    div.form      
      form.small-form(action="/logout", method="post" name='favorites')
        button#logOut.submit(type='text') Logout
      form.small-form(action="/search", method="Get" name='search')
        div.title #Cursalia
        .subtitle Que quieres aprender hoy?
        .divf
            input#buscador.input(type='text' placeholder='curso' name='curso')
            .cut.cut-short
            label.placeholder(for='curso') 
            button.submit(type='text') Buscar curso
            div.labels
                ul
                each val in data
                    li= val.name
                    li= val.author+val.author2
                    li= val.duration
                    li= val.rating
                    li= val.price
                    li
                      img(src=val.img)
                    li= val.url
            .mobile-container
              .topnav
                a.active(href='#home') NAV
                #myLinks
                  a(href='/index') Home
                  a(href='/favorites') Fav
                  a(href='/users') MiPerfil
                a.icon(href='javascript:void(0);' onclick='myFunction()')
                  i.fa.fa-bars nav
                    
script.
  function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "flex") {
  x.style.display = "none";
  } else {
  x.style.display = "flex";
  }
  }
